$tanHide: #f78b6d;
$coral: #ff864f;
$keppel: #32a69e;
$silver: #cccccc;
$doveGrey: #666666;
$black: #000000;
$white: #ffffff;
$mineShaft: #333333;
$boulder: #777777;
$tundora: #444444;
$red: #ff0000;
