$black: #000000;
$mineShaft: #333333;
$tundora: #444444;
$doveGrey: #666666;
$boulder: #777777;
$silverChalice: #aaaaaa;
$silver: #cccccc;
$alto: #dddddd;
$gallery: #f0f0f0;
$wildSand: #f5f5f5;
$alabaster: #fafafa;
$white: #ffffff;
$tanHide: #f78b6d;
$coral: #ff864f;
$keppel: #32a69e;
$red: #ff0000;
$sunshade: #fd9f2c;
$pomegranate: #f53011;
$atlantis: #9acd32;
$japaneseLaurel: #008000;
