@import '../../../styles/index';
$fontFamily: monospace, serif, sans-serif, cursive, fantasy;

@mixin center {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: flex-start;
}

@mixin jumbotronFontColorNFamily {
  font-family: $fontFamily;
  color: white;
}

.jumbotron {
  @include center;
  min-height: 100vh;
  margin-bottom: 0 !important; // react-boostrap default :50px
  background: #ffffff url(../../../../public/img/homepage/river_dark.jpg) no-repeat top center;
  background-size: cover;
}

.company-name {
  @include jumbotronFontColorNFamily;
  padding-top: 35vh;
  font-size: 4vw !important;
}

.company-slogan {
  @include fontSize(20);
  @include jumbotronFontColorNFamily;
  //font-size: 2vw !important;
  padding-bottom: 40px;
}

.produce-trip {
  @include jumbotronFontColorNFamily;
  padding-top: 13px;
}

.produce-trip-button {
  padding: 1px 40px;
  border: none;
  border-radius: 300px;
  background-color: #ff7744;
}

.product-feature {
  height: 40vh;
  background-color: #fffaf0;
}

.product-feature-headline {
  @include center;
  padding-top: 5vh;
  font-family: $fontFamily;
  font-size: 1.5vw;
  font-weight: bold;
}

.features {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.feature {
  @include center;
  width: 20vw;
}

.feature-headline {
  padding-bottom: 5px;
  font-size: 20px;
  font-weight: bold;
}

.feature-intro {
  width: 175px;
  line-height: 1.5em;
  text-align: center;
}

.hr {
  display: block;
  width: 2%;
  border-width: 3px;
  border-color: #ff7744;
}

.img {
  width: 30%;
  padding-bottom: 1vh;
}

.user-reviews {
  min-height: 70vh;
  background: #ffffff url(../../../../public/img/homepage/night.jpg);
  background-size: 100%;
}

.user-reviews-headline {
  padding-bottom: 5px;
  font-size: 20px;
  font-weight: bold;
}

.posts {
  display: flex;
  padding: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.post {
  padding: 5px;
}
