/* stylelint-disable */

.bigblue {
  font-size: 30;
  font-weight: bold;
  color: blue;
}

.red {
  color: red;
}

.tabBar {
  background-color: #eeeeee;
}

.tabBarSelectedItem {
  background-color: #dddddd;
}

