@import '../../../styles/index';

.underline {
  width: 90%;
  height: 2px;
  margin: 0 auto;
}

.container {
  margin-bottom: 20px;
  border-radius: 5px;
  background-color: $white;
}

.title {
  @include font-size-big;
  padding: 20px 30px;
  color: $color-main;
  text-align: center;
}

.content-div {
  padding: 20px 15px;
}
