@import '../color';
$color-main: $tanHide;
$color-border: $silver;
$color-navbar: $doveGrey;
$color-text: $tundora;
$color-text-light: $boulder;
$color-panel-background: $alabaster;

//phase
$color-phase-guide-confirm: $sunshade;
$color-phase-deposit: $pomegranate;
$color-phase-time-confirm: $sunshade;
$color-phase-video-wait: $atlantis;
$color-phase-balance: $pomegranate;
$color-phase-buy: $japaneseLaurel;

