.navbar-brand {
  color: blue !important;
}
.slider {
  height: 5px;
  background-color: #ddd;
  position: relative;
  top: 5px;
  border-radius: 2px;
  margin: 12px 0;
  cursor: pointer;
}
.slider-handle {
  position: relative;
  top: -5px;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  background-color: rgb(38, 166, 154);
  cursor: pointer;
}
.bar-1 {
  height: 5px;
  background-color: rgb(38, 166, 154);
  border-radius: 5px;
}
