@import '../../../styles/index';

.node-wrapper {
  display: flex;
  flex-direction: row;
  padding: 10px 0 10px 10px;
  justify-content: center;
  align-content: center;
  align-items: flex-start;
}

.node-label {
  @include font-size-medium;
  text-align: right;
}

.node-label-active {
  color: $color-main;

  @extend .node-label;
}

.node-label-inactive {
  color: $color-border;

  @extend .node-label;
}

.btn {
  width: 12px;
  height: 12px;
  padding: 0;
  border: 0;
  border-radius: 50%;
  background-color: $color-border;
}

.btn-inactive {
  background-color: $color-border;

  @extend .btn;
}

.btn-active {
  background-color: $color-main;

  @extend .btn;
}

.stick {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 3px;
  background-color: $color-border;
}
