@import "../../../styles/index";

.node-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: flex-start;
  padding: 10px 0 10px 10px;
}

.node-label {
  text-align: right;
  @extend .font-size-medium;
}

.btn {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 0;
  padding: 0;
  background-color: $color-border;
}

.btn-inactive {
  @extend .btn;
  background-color: $color-border;
}

.btn-active {
  @extend .btn;
  background-color: $color-main;
}

.stick {
  width: 3px;
  background-color: $color-border;
  position: absolute;
  top: 5px;
  left: 5px;
}
