@import '../../styles/index';

.btn {
  width: 100%;
  height: 90px;
  box-shadow: 3px 3px 8px 0 #cccccc;
  background-color: $white;
  margin: 10px 0;
  border: 0;
  padding: 0;
  text-align: left;
}

.container {
  @include flex-row;
  height: 100%;
}

.info-div {
  @include flex-column;
  flex: 1;
  height: 100%;
  padding: 10px 20px;
  letter-spacing: 1px;
}

.title {
  @include fontSize(18);
  display: flex;
  align-items: center;
  flex: 1;
  color: $black;
}

.guideInfo {
  display: flex;
  align-items: center;
  flex: 1;
  color: $black;
}

.guideName {
  @include font-size-medium;
  margin-left: 15px;
}

.avatar {
  height: 32px;
  width: 32px;
  background: #ffffff url(../../../public/img/avatar.jpg) no-repeat center center;
  background-size: contain;
  border-radius: 16px;
}

.dayInfo {
  @include font-size-small;
  border: 1px solid grey;
  margin-left: 15px;
  padding: 2px;
}

.phase-div {
  width: 110px;
  height: 100%;
  position: relative;
}

.phase {
  @include fontSize(14);
  position: absolute;
  top: 15px;
  right: 0px;
  color: #f0f0f0;
  letter-spacing: 2px;
  padding: 8px;
  width: 100%;
}

.phase-guide-confirm {
  @extend .phase;
  background-color: $color-phase-guide-confirm;
}

.phase-deposit {
  @extend .phase;
  background-color: $color-phase-deposit;
}

.phase-time-confirm {
  @extend .phase;
  background-color: $color-phase-time-confirm;
}

.phase-video-wait {
  @extend .phase;
  background-color: $color-phase-video-wait;
}

.phase-balance {
  @extend .phase;
  background-color: $color-phase-balance;
}

.phase-buy {
  @extend .phase;
  background-color: $color-phase-buy;
}
