@import '../../../styles/index';

.btn {
  @include fontSize(15);
  width: 26px;
  height: 26px;
  padding: 0;
  color: white;
  border: 0;
  background-color: $color-main;
}

.icon {
  background-color: $color-main;
}
