@import "../../../styles/index";

.btn {
  @extend .font-size-medium;
  width: 100px;
  border-radius: 50px;
  border: 2px solid $color-main;
  margin: 0 20px;
  padding: 8px 0;
}

.btn-submit {
  @extend .btn;
  background: $color-main;
  color: white;
}

.btn-button {
  @extend .btn;
  color: $color-main;
  background: white;
}
