@import '../../../styles/index';

.nav {
  border-width: 0;
  background-color: $color-navbar;
}

.text {
  @include font-size-medium;
  color: $white;
}

.header {
  margin-left: 25px;
}

.dropdown-text {
  @extend .text;
  display: inline;
}

.avatar {
  height: 18px;
}
